*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('cuadros.jpg');
    background-size: 1400px;
  }
  
  .form-register {
    width: 400px;
    background: linear-gradient( #24303c, rgb(48, 48, 99));
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
    /*Tamaño del formato*/
  .form-register h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #221fc5;
    font-family: 'time new roman';
    font-size: 18px;
    color: white;
  }
    
   .form-register .botons {
    width: 70%;
    background: #37536e;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }     
